In [2]:
import numpy as np
a = np.array([0,1,2,3])
print(a)

[0 1 2 3]

# numpy is  200 times faster than list

In [4]:
#python list
L = range(1000)
%timeit [i**2 for i in L]

653 µs ± 35.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [6]:
#numpy 
a = np.arange(1000)
%timeit a**2

3.43 µs ± 396 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
#print dimensions
a.ndim

1

In [10]:
b= np.array([[0,1,2],[3,4,5]])
b

array([[0, 1, 2],
       [3, 4, 5]])

In [12]:
b.ndim

2

In [14]:
#shape of matrix rows,columns
b.shape

(2, 3)

In [16]:
len(b) # returns the size of the first dimension

2

In [18]:
c= np.array([[[0,1],[2,3]],[[4,5],[6,7]]])
c

array([[[0, 1],
        [2, 3]],

       [[4, 5],
        [6, 7]]])

In [19]:
c.ndim

3

In [20]:
c.shape #tuple

(2, 2, 2)

# 1D array - vector
2D array - matrix
nD array - tensor

In [26]:
import numpy as np
b = np.arange(1,10,2) # start, end, step
b

array([1, 3, 5, 7, 9])

In [27]:
#using linspace
a = np.linspace(0,1,6)  #start, end, number of points(including start and end)

In [29]:
#common arrays
a=np.ones((3,3))
a

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [30]:
a= np.zeros((3,3))
a

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [31]:
np.eye(3) # return a 2d array with ones on the diagonal and zeros elsewhere

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [33]:
#create arrray using diag function
a= np.diag([1,2,3,4]) #construct a diagonal array
a

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [43]:
a= np.random.rand(4) # values is in between 0 and 1
a

array([0.78909856, 0.95989528, 0.61853764, 0.05942683])

In [49]:
a= np.random.randn(4) # values  generated will be mean as zero and variance as 1
a

array([-0.69474609,  0.98893398,  0.40501801,  1.12830269])

In [51]:
a=np.arange(10,dtype='float64') # can explicitly specify which data-type you want
a

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [52]:
a= np.zeros((3,3))
print(a)
a.dtype

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

dtype('float64')

In [53]:
d= np.array([1+2j,2+4j]) #complex datatype
d.dtype

dtype('complex128')

In [54]:
a=np.arange(10) # indexing
print(a[5])

5

In [56]:
a=np.diag([1,2,3])
print(a)
print(a[2,2])

[[1 0 0]
 [0 2 0]
 [0 0 3]]
3

In [57]:
a[2,1] = 5 #assigning value row 3 column 2
a

array([[1, 0, 0],
       [0, 2, 0],
       [0, 5, 3]])

In [59]:
#Slicing
a= np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [60]:
a[1:8:2] # start,end,step

array([1, 3, 5, 7])

In [62]:
#we can also combine assignment and slicing:
a= np.arange(10)
a[5:] =10
a

array([ 0,  1,  2,  3,  4, 10, 10, 10, 10, 10])

In [65]:
b= np.arange(5)
a[5:] =b[::-1] #assigning
a

array([0, 1, 2, 3, 4, 4, 3, 2, 1, 0])

In [66]:
a=np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [67]:
b=a[::2]
b

array([0, 2, 4, 6, 8])

In [68]:
np.shares_memory(a,b)

True

In [69]:
b[0] = 10
b

array([10,  2,  4,  6,  8])

In [70]:
a

array([10,  1,  2,  3,  4,  5,  6,  7,  8,  9])

In [71]:
b[1]=100

In [95]:
a

array([4, 3, 2, 1])

In [ ]:
a=np.arange(10)
a

In [ ]:
 
b=a[::2] 
b

In [ ]:
np.shares_memory(a,b) #shallow copy # view

In [ ]:
b[0] = 10  #eventhough we modified b, it updated a  because both shares same memory
b

In [ ]:
b[1]=100
a

In [ ]:
a= np.arange(10)
c = a[::2].copy() ##force a copy
c

In [ ]:
np.shares_memory(a,c)

In [ ]:
a  = np.random.randint(0,20,15)
a

In [ ]:
mask = (a%2==0) #fancy indexing. mask creates copies not views
extract_from_a
extract_from_a = a[mask]
extract_from_a

In [3]:
#Element wise operation
import numpy as np

In [4]:
a= np.array([1,2,3,4])
a+1

array([2, 3, 4, 5])

In [5]:
a**2

array([ 1,  4,  9, 16], dtype=int32)

In [7]:
b= np.ones(4) + 1
a-b

array([-1.,  0.,  1.,  2.])

In [8]:
a*b

array([2., 4., 6., 8.])

In [9]:
#matrix multiplication
c= np.diag([1,2,3,4])

print(c*c)
print("***********************")
print(c.dot(c))

[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]
***********************
[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]

In [10]:
#comparisions

a= np.array([1,2,3,4])
b= np.array([5,2,2,4])
a==b

array([False,  True, False,  True])

In [11]:
a>b

array([False, False,  True, False])

In [12]:
#array wise comparisions
a= np.array([1,2,3,4])
b=np.array([5,2,3,1])
c=np.array([1,2,3,4])
np.array_equal(a,b)

False

In [13]:
np.array_equal(a,c)

True

In [19]:
#logical operations
a= np.array([1,0,0,1],dtype=bool)
b=np.array([1,0,1,0],dtype=bool)
np.logical_or(a,b)
np.logical_and(a,b)

array([ True, False, False, False])

In [17]:
a=np.arange(5)
np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [16]:
np.log(a)

C:\Users\banda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436])

In [18]:
np.exp(a) # evaluates e^x for each element in a given input

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

In [20]:
#Shape Mismatch    addition not possible for shape mismatch
a= np.arange(4)
a+np.array([1,2])

ValueError: operands could not be broadcast together with shapes (4,) (2,)

In [21]:
#Basic Reductions

x=np.array([1,2,3,4])
np.sum(x)

10

In [22]:
x=np.array([[1,1],[2,2]])
x

array([[1, 1],
       [2, 2]])

In [23]:
x.sum(axis=0) # column wise

array([3, 3])

In [24]:
x.sum(axis=1) #row wise

array([2, 4])

In [27]:
x= np.array([1,3,2])
x.min()

1

In [28]:
#Logical operations
np.all([True,True,False])

False

In [29]:
np.any([True,False,False])

True

In [30]:
#NOte : can be used for array comparisions
a= np.zeros((50,50))
np.all(a==a)

True

In [32]:
a=np.array([1,2,3,2])
b=np.array([2,2,3,2])
c=np.array([6,4,4,5])
((a <=b) & (b <=c)).all()

True

In [34]:
#Statistics
x= np.array([1,2,3,1])
y=np.array([[1,2,3],[5,6,1]])
x.mean()

1.75

In [35]:
np.median(x)

1.5

In [36]:
np.median(y,axis=1)

array([2., 5.])

In [37]:
x.std()

0.82915619758885

In [38]:
#Load data into numpy arrray object
data= np.loadtxt('populations.txt')

In [39]:
data

array([[ 1900., 30000.,  4000., 48300.],
       [ 1901., 47200.,  6100., 48200.],
       [ 1902., 70200.,  9800., 41500.],
       [ 1903., 77400., 35200., 38200.],
       [ 1904., 36300., 59400., 40600.],
       [ 1905., 20600., 41700., 39800.],
       [ 1906., 18100., 19000., 38600.],
       [ 1907., 21400., 13000., 42300.],
       [ 1908., 22000.,  8300., 44500.],
       [ 1909., 25400.,  9100., 42100.],
       [ 1910., 27100.,  7400., 46000.],
       [ 1911., 40300.,  8000., 46800.],
       [ 1912., 57000., 12300., 43800.],
       [ 1913., 76600., 19500., 40900.],
       [ 1914., 52300., 45700., 39400.],
       [ 1915., 19500., 51100., 39000.],
       [ 1916., 11200., 29700., 36700.],
       [ 1917.,  7600., 15800., 41800.],
       [ 1918., 14600.,  9700., 43300.],
       [ 1919., 16200., 10100., 41300.],
       [ 1920., 24700.,  8600., 47300.]])

In [40]:
year, hares, lynxes, carrots = data.T #columns to variables
print(year)

[1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1909. 1910. 1911.
 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920.]

In [41]:
#The mean population over time
populations = data[:,1:]
populations

array([[30000.,  4000., 48300.],
       [47200.,  6100., 48200.],
       [70200.,  9800., 41500.],
       [77400., 35200., 38200.],
       [36300., 59400., 40600.],
       [20600., 41700., 39800.],
       [18100., 19000., 38600.],
       [21400., 13000., 42300.],
       [22000.,  8300., 44500.],
       [25400.,  9100., 42100.],
       [27100.,  7400., 46000.],
       [40300.,  8000., 46800.],
       [57000., 12300., 43800.],
       [76600., 19500., 40900.],
       [52300., 45700., 39400.],
       [19500., 51100., 39000.],
       [11200., 29700., 36700.],
       [ 7600., 15800., 41800.],
       [14600.,  9700., 43300.],
       [16200., 10100., 41300.],
       [24700.,  8600., 47300.]])

In [42]:
#sample standard deviations
populations.std(axis=0)

array([20897.90645809, 16254.59153691,  3322.50622558])

In [43]:
#which specices has the highest population each year
np.argmax(populations,axis=1) #index will be printed

array([2, 2, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2],
      dtype=int64)

# Broadcasting

In [55]:
a=np.tile(np.arange(0,40,10),(3,1))
print(a)

[[ 0 10 20 30]
 [ 0 10 20 30]
 [ 0 10 20 30]]

In [56]:
a=a.T
print(a)

[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [58]:
b= np.array([0,1,2])
b

array([0, 1, 2])

In [59]:
a+b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [60]:
a=np.arange(0,40,10) #-->1D
a.shape

(4,)

In [61]:
a= a[:,np.newaxis] #adds a new axis -->2D
a.shape

(4, 1)

In [62]:
a

array([[ 0],
       [10],
       [20],
       [30]])

# Array shape 
Flattening

In [64]:
a= np.array([[1,2,3],[4,5,6]])
a.ravel() #return a contiguous flattened array.

array([1, 2, 3, 4, 5, 6])

In [65]:
a.T #Transpose

array([[1, 4],
       [2, 5],
       [3, 6]])

In [66]:
a.T.ravel()

array([1, 4, 2, 5, 3, 6])

# Reshaping

In [68]:
#array.reshape((2,3))
b= a.ravel()
b

array([1, 2, 3, 4, 5, 6])

In [70]:
b= b.reshape((2,3))
b

array([[1, 2, 3],
       [4, 5, 6]])

In [72]:
b[0,0] =100
a

array([[100,   2,   3],
       [  4,   5,   6]])

# Note and Beware: reshape may also return a copy

In [73]:
a= np.zeros((3,2))
b=a.T.reshape(3*2)
b[0] = 50
a

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

# Adding a Dimension

In [74]:
a= np.arange(4*3*2).reshape(4,3,2)
a.shape

(4, 3, 2)

In [75]:
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])

In [76]:
a[0,2,1]

5

# Resizing

In [86]:
a=np.arange(4)
a.resize((8,))
print(a)
a.resize((4,))
a

[0 1 2 3 0 0 0 0]

array([0, 1, 2, 3])

In [90]:
a.resize((8,))
b=a
a.resize((4,))
#cannot resize an array that references or is referenced
#by another array in this way.
#Use the np.resize function or refcheck=False

ValueError: cannot resize an array that references or is referenced
by another array in this way.
Use the np.resize function or refcheck=False

# Sorting Data

In [91]:
#sorting along an axis
a= np.array([[5,4,6],[2,3,2]])
b=np.sort(a,axis=1)
b

array([[4, 5, 6],
       [2, 2, 3]])

In [92]:
#in-place sort
a.sort(axis=1)
a

array([[4, 5, 6],
       [2, 2, 3]])

In [93]:
#sorting with fancy indexing
a= np.array([4,3,2,1])
j=np.argsort(a)
j

array([3, 2, 1, 0], dtype=int64)

In [94]:
a[j]

array([1, 2, 3, 4])